@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
}

h1 {
  color: #60ff95;
  font-family: "staatliches", Verdana;
  font-size: 2rem;
  margin-left: 50%;
  padding-top: 2%;
}

h2 {
  color: black;
  font-family: "staatliches", Verdana;
  font-size: 2rem;
  text-align: center;
  padding: 1%;
}

#menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.banr {
  width: 70%;
  margin: auto;
  padding: 4%;
}

nav ul li {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  margin: 1%;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  color: #ee5a96;
  text-decoration: none;
}

.container {
  padding: 3%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.row {
  margin: 0%;
}

/* HOME */
.bg-light {
  background-color: #fff !important;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #ee5a96;
  border: 2px solid white;
  border-radius: 0.25rem;
}

.main-index {
  background-image: url(../img/fondo.main.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-index .about {
  padding-top: 5%;
  margin-top: 20px;
}
.main-index .about .p_descrip {
  text-align: right;
  color: #fff;
}
.main-index .about .img-bio {
  margin-top: 6%;
}
.main-index .about .miembros .p_miemb {
  text-align: center;
}
.main-index .formulario .h2_form {
  color: #000000;
  font-family: "staatliches", Verdana;
  font-size: 2rem;
  text-align: center;
  padding: 1%;
  margin-bottom: 5%;
  margin-top: 8%;
}
.main-index .formulario .btn {
  background-color: #ee5a96;
  color: #fff;
  margin-top: 9%;
  width: 80%;
  height: 40%;
}
.main-index .row_iconos {
  width: 100%;
  padding-left: 27%;
  padding-right: 27%;
}
.main-index .row_iconos .iconos {
  display: flex;
  flex-direction: row;
  margin-top: 4%;
  width: 100%;
}

footer {
  width: 100%;
  background-color: white;
  text-align: center;
  color: #ee5a96;
  font-size: small;
}
footer .f_p {
  margin-top: 6%;
  margin-bottom: 1%;
}

/* TOUR */
.tour-main {
  background-image: url("../img/tour.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 20%;
}
.tour-main .SM_IMG {
  width: 65%;
  margin: auto;
  padding: 8% 8% 1% 8%;
}
.tour-main .h1_tour {
  font-size: 5rem;
  color: #fff;
  margin-left: 40%;
  text-shadow: #c51432 5px 5px 5px;
  padding-bottom: 2%;
}
.tour-main #tour_principal {
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tour-main #tour_principal .tour_box {
  display: flex;
  justify-content: center;
  margin: 5%;
  width: 50%;
  margin-right: 10%;
}
.tour-main #tour_principal .tour_box .tour_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -9;
}
.tour-main #tour_principal .tour_box .tour_right .tour_button {
  margin-top: 70%;
  margin-bottom: 80%;
  padding: 3%;
  text-align: center;
  background-color: #60ff95;
  border-radius: 10px;
}
.tour-main #tour_principal .tour_box .tour_right .tour_button a {
  color: black;
}
.tour-main #tour_principal .tour_box .tour_right .tour_button a:hover {
  color: #ee5a96;
  text-decoration: none;
}
.tour-main #tour_principal .tour_box .tour_right .tour_button:hover {
  box-shadow: 5px 5px 7px #fff;
}
.tour-main #tour_principal .tour_box .tour_right .tour_button_1 {
  margin-top: 40%;
}
.tour-main #tour_principal .tour_box .tour_right .tour_button_2 {
  margin-top: 40%;
}
.tour-main #tour_principal .tour_box .tour_left {
  margin-right: 25%;
}
.tour-main #tour_principal .tour_box .tour_left .tour_lugar {
  font-size: 2rem;
  margin-bottom: 20%;
  border-bottom: 1px solid #fff;
}

/* GALERIA */
.main-galeria {
  background-image: url("../img/fondo.albums.svg");
  background-repeat: no-repeat;
  background-position: cover;
}
.main-galeria .grid-container {
  display: grid;
  justify-content: center;
  margin-bottom: 10%;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 18% 18% 18% 18%;
  gap: 0px 0px;
  grid-template-areas: "foto1 foto1 foto3" "foto2 foto2 foto3" "foto4 foto4 foto4" "foto5 foto6 foto7" "foto8 foto9 foto9" "foto8 foto10 foto10";
}
.main-galeria .grid-container .foto1 {
  grid-area: foto1;
  margin-bottom: 2%;
}
.main-galeria .grid-container .foto3 {
  grid-area: foto3;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 2%;
}
.main-galeria .grid-container .foto2 {
  grid-area: foto2;
  margin-bottom: 2%;
}
.main-galeria .grid-container .foto4 {
  grid-area: foto4;
}
.main-galeria .grid-container .foto5 {
  grid-area: foto5;
  margin-top: 25%;
}
.main-galeria .grid-container .foto6 {
  grid-area: foto6;
  margin-top: 13%;
  margin-right: 2%;
  margin-left: 2%;
}
.main-galeria .grid-container .foto7 {
  grid-area: foto7;
  margin-top: 2%;
}
.main-galeria .grid-container .foto8 {
  grid-area: foto8;
  margin-top: 45%;
  margin-right: 5%;
}
.main-galeria .grid-container .foto9 {
  grid-area: foto9;
  margin-top: 5%;
}
.main-galeria .grid-container .foto10 {
  grid-area: foto10;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* ALBUMS */
.main_albums #alb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main_albums #alb .albums_boton_info {
  color: white;
  padding: 2%;
  background-color: #ee5a96;
  height: 20%;
  border-radius: 10px;
}
.main_albums #alb .albums_boton_info:hover {
  color: black;
  text-decoration: none;
  box-shadow: 5px 5px 7px black;
}
.main_albums #alb .album2 {
  padding: 1%;
}
.main_albums #alb .album5 {
  padding: 1%;
}
.main_albums .reproductor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 5%;
}
.main_albums .reproductor .noodle_reproductor {
  margin-left: 18%;
  padding-bottom: 0%;
}
.main_albums .reproductor .spoty_reproductor {
  margin-bottom: 5%;
  padding-top: 0%;
  margin-right: 8%;
}

/* MERCH */
.main_merch {
  background-size: 50%;
  background-image: url(../img/fondo.merch.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: unset;
}
.main_merch .slider {
  width: 100%;
  height: 100%;
}
.main_merch .top_merch {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main_merch .categorias .categorias_titulo {
  margin-top: 2%;
  background-color: #ee5a96;
}
.main_merch .categorias .categorias_titulo .h1_merch {
  margin-top: 1%;
  position: relative;
  font-size: 5rem;
  color: white;
}
.main_merch .categorias .tarjetas_merch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5%;
  margin: 5%;
}
.main_merch .categorias .tarjetas_merch .tarjeta_clothing {
  padding: 1%;
  margin: 3%;
}
.main_merch .categorias .tarjetas_merch .tarjeta_toys {
  padding: 1%;
  margin: 3%;
}
.main_merch .categorias .tarjetas_merch .tarjeta_accessories {
  padding: 1%;
  margin: 3%;
}
.main_merch .categorias .tarjetas_merch .tarjeta_posters {
  padding: 1%;
  margin: 3%;
}
.main_merch .categorias .tarjetas_merch .tarjeta_kids {
  padding: 1%;
  margin: 3%;
}
.main_merch .categorias .tarjetas_merch .tarjeta_collection {
  padding: 1%;
  margin: 3%;
}
.main_merch .categorias .tarjetas_merch .button_new {
  width: 40%;
  height: 13%;
  padding: 1%;
  padding-top: 4%;
  text-align: center;
  background-color: black;
  border-radius: 8px;
  color: #fff;
  margin-left: 30%;
}
.main_merch .categorias .tarjetas_merch .button_new a {
  color: #fff;
}
.main_merch .categorias .tarjetas_merch .button_new a:hover {
  color: #ee5a96;
  text-decoration: none;
}
.main_merch .categorias .tarjetas_merch .button_new:hover {
  box-shadow: 5px 5px 7px #ee5a96;
}

/* FANS */
.main-fans {
  background-image: url(../img/fans_fondo.png);
  background-position: cover;
  background-repeat: no-repeat;
}
.main-fans .foro {
  width: 60%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #b8b8b8;
  border-style: dashed;
  border-color: black;
  margin: auto;
  text-align: center;
}
.main-fans .foro .h1-foro {
  font-size: 4rem;
  font-family: "staatliches", Verdana;
  margin: auto;
}
.main-fans .foro .p-foro {
  font-size: 1rem;
  font-family: "Roboto Mono", sans-serif;
  padding: 2%;
  text-align: center;
}
.main-fans .foro .comunidad {
  font-size: 2rem;
  font-family: "staatliches", Verdana;
}
.main-fans .foro .boton-foro {
  width: 40%;
  height: 7%;
  padding: 1%;
  padding-top: 1%;
  text-align: center;
  background-color: black;
  border-radius: 8px;
  color: #fff;
}
.main-fans .foro .boton-foro:hover {
  text-decoration: none;
  box-shadow: 5px 5px 7px #ee5a96;
}
.main-fans .fan-art-img {
  margin-top: 10%;
}
.main-fans .texto-fan-art {
  text-align: center;
  font-size: 0.8rem;
}
.main-fans .texto-fan-art a {
  color: #ee5a96;
  text-decoration: none;
  font-size: 1rem;
}
.main-fans .texto-fan-art a:hover {
  color: black;
}
.main-fans .fan-art-imgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/*media queries */
@media (max-width: 769px) {
  .art-menu {
    display: none;
  }

  .banr {
    margin-top: 13%;
    margin-bottom: 1%;
    padding-bottom: none;
  }

  /* TOUR */
  .tour-main .h1_tour {
    font-size: 3rem;
    margin-left: 37%;
  }
  .tour-main .tour_box .tour_right {
    margin-top: 30%;
    margin-bottom: 60%;
  }
  .tour-main .tour_box .tour_right .tour_button {
    width: 120%;
  }
  .tour-main .tour_box .tour_left .tour_lugar {
    font-size: 1rem;
  }

  /* HOME */
  .main-index .about {
    padding-top: 15%;
  }
  .main-index .miembros .cabecitas {
    margin-left: 15%;
  }
  .main-index .formulario {
    text-align: center;
  }
  .main-index .formulario .text-area {
    padding-right: 10%;
  }
  .main-index .formulario .btn {
    padding-bottom: 6%;
  }
  .main-index .row_iconos {
    padding-left: 5%;
    padding-right: 5%;
  }

  /* GALERIA */
  .main-galeria {
    background-image: url(../img/fondo.albums.2.svg);
  }
  .main-galeria .div.grid-container {
    margin: 0%;
  }
  .main-galeria .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-right: 0%;
    padding: 3%;
  }
  .main-galeria .grid-container .foto2 {
    margin-bottom: 5%;
  }
  .main-galeria .grid-container .foto3 {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .main-galeria .grid-container .foto5 {
    margin-top: 5%;
  }
  .main-galeria .grid-container .foto6 {
    margin-top: 5%;
  }
  .main-galeria .grid-container .foto7 {
    margin-top: 5%;
  }
  .main-galeria .grid-container .foto8 {
    margin-top: 5%;
    margin-right: 7%;
  }

  /* ALBUMS */
  .main_albums {
    margin: 1%;
  }
  .main_albums .albums_boton {
    margin-bottom: 5%;
  }
  .main_albums .reproductor .noodle_reproductor {
    width: 80%;
    padding: 0%;
    margin: 0%;
  }
  .main_albums .reproductor .spoty_reproductor {
    margin-right: 0%;
  }

  /* FANS */
  .main-fans {
    background-image: none;
  }
  .main-fans .foro {
    margin-top: 10%;
  }
  .main-fans .foro .boton-foro {
    padding: 3%;
  }
  .main-fans .texto-fan-art {
    width: 90%;
    margin: auto;
  }
}
@media (min-width: 769px) {
  .navbar {
    display: none;
  }

  .navbar-nav {
    text-align: center;
  }
}