@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');



$fuente_principal: 'Roboto Mono', sans-serif;
$fuente_segundaria: 'staatliches', Verdana;
$color_titulos: rgb(96, 255, 149);
$blanco: #fff;
$negro: rgb(0, 0, 0);
$rosa: #ee5a96;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fuente_principal;

}


h1 {
    color: $color_titulos;
    font-family: $fuente_segundaria;
    font-size: 2rem;
    margin-left: 50%;
    padding-top: 2%;

}

h2{
    color: $negro;
    font-family: $fuente_segundaria;
    font-size: 2rem;
    text-align: center;
    padding: 1%;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.banr {
    width: 70%;
    margin: auto;
    padding: 4%;
}

nav ul li {
    display: inline-block;
    font-size: 2rem;
    color: $blanco;
    margin: 1%;

    a {
        text-decoration: none;
        color: $negro;         
    }

    a:hover {
        color: $rosa;
        text-decoration: none;   
    }
}


.container{
    padding: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.row {
    margin: 0%;
}




/* HOME */

.bg-light {
    background-color: $blanco!important;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: $rosa;
    border: 2px solid rgb(255, 255, 255);
    border-radius: .25rem;
}


.main-index {
    background-image: url(../img/fondo.main.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .about {
        padding-top: 5%;
        margin-top: 20px;
        
        .p_descrip {
            text-align: right;
            color: $blanco;
        }

        .img-bio {
            margin-top: 6%;
        }

    .miembros {
        .p_miemb {
            text-align: center;
        }
        
        
    }

    }

    .formulario{

        .h2_form {
            color: #000000;
            font-family: $fuente_segundaria;
            font-size: 2rem;
            text-align: center;
            padding: 1%;
            margin-bottom: 5%;
            margin-top: 8%;
        }

        .btn {
            background-color: $rosa;
            color: $blanco;
            margin-top: 9%;
            width: 80%;
            height: 40%;
        }

    }
    .row_iconos {
        width: 100%;
        padding-left: 27%;
        padding-right: 27%;
        .iconos{
            display: flex;
            flex-direction: row;
            margin-top: 4%;
            width: 100%;
        }
    }
    
}


footer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: $rosa;
    font-size: small;

    .f_p {
        margin-top: 6%;
        margin-bottom: 1%;
    }
}






/* TOUR */


.tour-main {
    background-image: url("../img/tour.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 20%;

    .SM_IMG {
        width: 65%;
        margin: auto;
        padding : 8% 8% 1% 8%;
    
    }

    .h1_tour {
        font-size: 5rem;
        color: $blanco;
        margin-left: 40%;
        text-shadow: rgb(197, 20, 50) 5px 5px 5px;
        padding-bottom: 2%; 
    
        
    }

    #tour_principal {
        padding-bottom: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .tour_box {
            display: flex;
            justify-content: center;
            margin: 5%;
            width: 50%;
            margin-right:10%;

            .tour_right{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: -9;

                .tour_button {
                    margin-top: 70%;
                    margin-bottom: 80%;
                    padding: 3%;
                    text-align: center;
                    background-color: $color_titulos;
                    border-radius: 10px;
                }

                .tour_button a{
                    color: $negro;   
                }
    
                .tour_button a:hover {
                    color:$rosa;
                    text-decoration: none;
                }
    
                .tour_button:hover
                {
                    box-shadow: 5px 5px 7px $blanco;
                }

                .tour_button_1 {
                    margin-top: 40%;
                    

                }
                
                .tour_button_2 {
                    margin-top: 40%;
                    

                }
                
            }
            

            .tour_left {
                margin-right: 25%;

                .tour_lugar{
                    font-size: 2rem;
                    margin-bottom: 20%;
                    border-bottom: 1px solid $blanco;
                }           
            }
        }
    }
}




/* GALERIA */

.main-galeria {
    background-image: url("../img/fondo.albums.svg");
    background-repeat: no-repeat;
    background-position: cover;

    .grid-container {
        display: grid;
        justify-content: center;
        margin-bottom: 10%;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 18% 18% 18% 18%;
        gap: 0px 0px;
        grid-template-areas:
        "foto1 foto1 foto3"
        "foto2 foto2 foto3"
        "foto4 foto4 foto4"
        "foto5 foto6 foto7"
        "foto8 foto9 foto9"
        "foto8 foto10 foto10";

        .foto1 { 
            grid-area: foto1;
            margin-bottom: 2%;
        
        }
        
        .foto3 { 
            grid-area: foto3;
            margin-left: 25%;
            margin-top: 5%;
            margin-bottom: 2%; 
        
        }
        
        .foto2 {
            grid-area: foto2;
            margin-bottom: 2%;  
        
        }
        
        .foto4 { 
            grid-area: foto4; 
        
        }
        
        .foto5 {
            grid-area: foto5;
            margin-top: 25%;
        
        }
        
        .foto6 {
            grid-area: foto6;
            margin-top: 13%;
            margin-right: 2%; 
            margin-left: 2%; 
        
        }
        
        .foto7 {
            grid-area: foto7;
            margin-top: 2%; 
        
        }
        
        .foto8 {
            grid-area: foto8;
            margin-top: 45%;
            margin-right: 5%; 
        }

        .foto9 {
            grid-area: foto9;
            margin-top: 5%;
        }

        .foto10 {
            grid-area: foto10;
            margin-top: 5%;
            margin-bottom: 5%;            
        }
    
    }
}



/* ALBUMS */

.main_albums {
    #alb {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .albums_boton_info {
            color: white;
            padding: 2%;
            background-color: $rosa;
            height: 20%;
            border-radius: 10px;
        }

        .albums_boton_info:hover {
            color: $negro;
            text-decoration: none;
            box-shadow: 5px 5px 7px $negro;

        }

        .album2 {
            padding: 1%;
        }
        .album5 {
            padding: 1%;
        }
    }

    .reproductor {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 5%;

        .noodle_reproductor {
            margin-left: 18%;
            padding-bottom: 0%;
        }

        .spoty_reproductor {
            margin-bottom: 5%;
            padding-top: 0%;
            margin-right: 8%;

        }

    }
}



/* MERCH */


.main_merch {
    background-size: 50%;
    background-image: url(../img/fondo.merch.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;

    .slider {
        width: 100%;
        height: 100%;

    }

    .top_merch {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center

        
        
    }

    .categorias {

        .categorias_titulo {
            margin-top:2%;
            background-color: $rosa;

            .h1_merch {
                margin-top: 1%;
                position: relative;
                font-size: 5rem;
                color: rgb(255, 255, 255);
            
            }
        }

        .tarjetas_merch {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 5%;
            margin: 5%;

            

            .tarjeta_clothing {
                padding: 1%;
                margin: 3%;
            }

            .tarjeta_toys {
                padding: 1%;
                margin: 3%;
            }
            
            .tarjeta_accessories {
                padding: 1%;
                margin: 3%;
            }
            
            .tarjeta_posters {
                padding: 1%;
                margin: 3%;
            }
            
            .tarjeta_kids {
                padding: 1%;
                margin: 3%;
            }
            
            .tarjeta_collection {
                padding: 1%;
                margin: 3%;
            }

            .button_new{
                width: 40%;
                height: 13%;
                padding: 1%;
                padding-top: 4%;
                text-align: center;
                background-color: $negro;
                border-radius: 8px;
                color: $blanco;
                margin-left:30%;
            } 
            
            .button_new a{
                color: $blanco;    
            }

            .button_new a:hover {
                color:$rosa;
                text-decoration: none;
            }

            .button_new:hover
            {
                box-shadow: 5px 5px 7px $rosa;
            }

        }

    }



}



/* FANS */

.main-fans {

    background-image: url(../img/fans_fondo.png);
    background-position: cover;
    background-repeat: no-repeat;
    .foro {
            width: 60%;
            border-radius: 10px;
            box-shadow: 5px 5px 5px #b8b8b8;
            border-style: dashed;
            border-color: $negro;
            margin: auto;
            text-align:center;

            .h1-foro {
                font-size: 4rem;
                font-family: $fuente_segundaria;
                margin: auto;
                
            }
            
            .p-foro {
                font-size: 1rem;
                font-family: $fuente_principal;
                padding: 2%;
                text-align: center;
            }
            .comunidad {
                font-size: 2rem;
                font-family: $fuente_segundaria;
            }
            .boton-foro {
                width: 40%;
                height: 7%;
                padding: 1%;
                padding-top: 1%;
                text-align: center;
                background-color: $negro;
                border-radius: 8px;
                color: $blanco;
            }

            .boton-foro:hover{
                text-decoration: none;
                box-shadow: 5px 5px 7px $rosa;
            }
            


        }

        .fan-art-img {
            margin-top: 10%;
        }
        .texto-fan-art {
            text-align: center;
            font-size: 0.8rem;
            
        }
        .texto-fan-art a {
            color:$rosa;
            text-decoration: none;
            font-size: 1rem;
        }

        .texto-fan-art a:hover {
            color: $negro;
        }

        .fan-art-imgs {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center

        }
        
    }





/*media queries */


@media (max-width: 769px) {


    .art-menu {
        display: none;

    }
    .banr {
        
        margin-top: 13%;
        margin-bottom: 1%;
        padding-bottom: none;
    }

/* TOUR */


    .tour-main {
        .h1_tour {
            font-size: 3rem;
            margin-left: 37%;
        }

        .tour_box {
            .tour_right{
                margin-top:30%;
                margin-bottom: 60%;
                
                
                .tour_button {
                    width: 120%;

                }   
            }


            .tour_left {
                
                .tour_lugar{
                    font-size: 1rem;
                }
            }

        }

    }





 /* HOME */

    .main-index {

        .about {
            padding-top: 15%;
        }

        .miembros{

            .cabecitas {
                margin-left: 15%;

            }
        }
        .formulario {
            text-align: center;

            .text-area{
                padding-right: 10%;
            }

            .btn {
                padding-bottom: 6%;
            }
        }

        .row_iconos {
            
            padding-left: 5%;
            padding-right: 5%;
            
        }

    }

/* GALERIA */
.main-galeria {

    background-image: url(../img/fondo.albums.2.svg);
    
    .div.grid-container{
        margin:0%;
    }
    .grid-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 4%;
        margin-right:0%;
        padding:3%;
        

        .foto2 {
            margin-bottom: 5%;
            
        }

        .foto3 {
            
            margin-top: 5%;
            margin-bottom: 5%;
            
        }


        .foto5 {
            margin-top: 5%;
            
        }

        .foto6 {
            margin-top: 5%;
            
        }

        .foto7 {
            margin-top: 5%;
            
        }

        .foto8 {
            margin-top: 5%;
            margin-right: 7%;
            
            
        }
    }
}



/* ALBUMS */

.main_albums {
    margin: 1%;
    .albums_boton {
        margin-bottom: 5%;
    }


    .reproductor {

        .noodle_reproductor {
            width: 80%;
            padding:0%;
            margin: 0%;
            
        }
        .spoty_reproductor {
            margin-right: 0%;

        }

    }
}




/* FANS */

    .main-fans {

        background-image: none;

        .foro {
            margin-top: 10%;

            .boton-foro {
                padding: 3%;
            }
        }
        
        .texto-fan-art {
            width: 90%;
            margin:auto;
            
        }
}




}

@media (min-width: 769px) {

    .navbar{
        display: none;
    }

    .navbar-nav {
        text-align: center;
    }

}

